<tr>
  <td>
    <%= transaction.sender.email %>
  </td>
  <td>
    <%= transaction.recipient.email %>
  </td>
  <td>
    <%= transaction.created_at %>
  </td>
  <td>
    <%= transaction.num_credits %>
  </td>
</tr>
